<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4 d-flex align-items-stretch  py-2">
          <div class="card w-100 ">
            <div class="card-header">
              <h3 class="card-title text-center">Resent Orders</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Order Id</th>
                      <th>Costumer</th>
                      <th>Shipped</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let order of recentOrders">
                      <td>{{order.id}}</td>
                      <td>{{order.costumer}}</td>
                      <td *ngIf="!order.shipped">Pending</td><td *ngIf="order.shipped">Shipped</td>

                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch py-2">
          <div class="card ">
            <div class="card-header">
              <h3 class="card-title text-center">Champaigns</h3>
            </div>
            <div class="card-body">

              <!--If there is any current champaigns list the remaining time-->
              <div *ngIf="currentChampaings.length > 0">
                <p>Time remaining of current champaigns</p>
                  <ul *ngFor = "let time of currentChampaings" class="list-group list-group-flush">
                    <li class="list-group-item"><p>{{time.name}} : <ngb-progressbar type="success" textType="white" [value]=time.timeRemaning [showValue]="true"></ngb-progressbar></p></li>

                  </ul>
              </div>
              <!--If there is no current champaigns-->
              <div *ngIf="currentChampaings.length == 0">
                <h3>No current champaings</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch py-2">
          <div class="card ">
            <div class="card-header">
              <h3 class="card-title text-center">Sales by Personel</h3>
            </div>
            <div class="card-body">
              <div style="display: block">
                <canvas baseChart
                  [datasets]="barPersonelSalesChartData"
                  [labels]="barChartPersonelSalesLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 d-flex align-items-stretch py-2">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title text-center">Mounth By Mounth Growth</h3>
            </div>
            <div class="card-body">
              <div style="display: block;">
                <canvas baseChart width="400" height="400"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColors"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            [plugins]="lineChartPlugins"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-stretch py-2">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title text-center">Top Trending Products</h3>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-sm">
                  <thead>
                    <tr>
                      <th>Product Name</th>
                      <th>Type</th>
                      <th>Size</th>
                      <th>Sold</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of LeadingProduct">
                      <td>{{product.productname}}</td>
                      <td>{{product.type}}</td>
                      <td>{{product.size}}</td>
                      <td>{{product.sold}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>
